mixin link_css(css_file)
  link(href=url_for("static", filename="css/"+css_file), rel="stylesheet")

mixin link_js(js_file)
  script(src=url_for("static", filename="js/"+js_file))

mixin render_field(field)
  .form-group(class=("has-error" if field.errors else undefined))
    if field.type == 'StringField' or field.type == 'EmailField'
      if field.errors
        = field(placeholder=field.label.text, class="form-control floating-label", id=field.name, data_hint=field.errors[0], autofocus=True)
      else
        = field(placeholder=field.label.text, class="form-control floating-label", id=field.name)
    elif field.type == 'RadioField'
      label
        = field.label
      each value, label, index in field.choices
        .radio.radio-primary
          label
            if field.data and field.data == value or index == 0
              input(id=field.name, name=field.name, value=value, type="radio", checked=True)
            else
              input(id=field.name, name=field.name, value=value, type="radio", checked=False)
            = label
    elif field.type == 'FileField'
      input(id=field.name, name=field.name, type="file", accept="image/*;capture=camera", single)
    elif field.type == 'HiddenField'
      input(id=field.name, name=field.name, type="hidden")
      if field.errors
        .alert.alert-danger#msg-no-pic
          = _("Picture needed") | safe
